.heading {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #3330CB;
}

mat-progress-bar {
    height: 10px;
    border-radius: 5px;
}

.budget1 {
    min-height: 120px;
    box-shadow: inset 0px 0px 10px rgba(119, 119, 119, 0.25);
    border-radius: 10px;   
     
}

.budget :hover {
    background-color: #E6E5FF;
    cursor: pointer;
}

.big-text {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    color: #777777;
} 

.mid-text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #777777;
}

.small-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #777777;
}

a {
    text-decoration: none;
}
