<div class="bussiness">
  <div class="row mt-4">
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
    </div>
    <div class="col-md-5"></div>
  </div>

  <div class="text-center my-5 heading">Tell us about your bussiness</div>
  <div class="">

    <form class="example-fqrm">
      <mat-form-field class="example-full-width mb-4">
        <mat-label>Your Bussiness Name</mat-label>

        <input type="text" matInput placeholder="" value="">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width mb-4">
        <mat-label>Your Website</mat-label>

        <input type="text" matInput placeholder="Consider what you are advertising, enter the most relevant page"
          value="">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width mb-4">
        <mat-label>Official BUssiness address</mat-label>

        <input type="text" matInput placeholder="" value="">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width mb-4">
        <mat-label>Contact Number</mat-label>

        <input type="text" matInput placeholder="" value="">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

    </form>

  </div>

  <div class="row justify-content-between">
    <div class="col-2 ">
        <a class="btn btn-primary" href="#" role="button">back</a>
    </div>
    <div class="col-2">
        <a class="btn btn-primary" routerLink="/ad_campaign_page" role="button">next</a>
    </div>

</div>
</div>